{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static',filename='asb-unsw-campus-53.jpg')}}'); width: auto; height:500px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Canceled Event</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Content-->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for event in events %}
                {% if event.status == 'CANCELED' %}
                    <div class="post-preview">
                        <a href="{{ url_for('info', eventId = event.event_id) }}">
                            <h2 class="post-title">
                                {{event.title}}
                            </h2>
                        </a>
                        <p class="post-meta">Type: course Seats left: {{ event.capacity - event.events_all.count() }} Status: {{event.status}}</p>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for seminar in seminars %}
                {% if seminar.status == 'CANCELED' %}
                    <div class="post-preview">
                        <a href="{{ url_for('seminarinfo', seminarId = seminar.seminar_id) }}">
                            <h2 class="post-title">
                                {{seminar.title}}
                            </h2>
                        </a>
                        <p class="post-meta">Type: seminar Seats left: {{ seminar.capacity - seminar.seminars_all.count() }} Status: {{seminar.status}}</p>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
