{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static',filename='asb-unsw-campus-53.jpg')}}'); width: auto; height:500px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Current Post Event Page</h1>
                    <span class="subheading"></br>This is All Current Event That You Post</span>
                </div>
            </div>
        </div>
    </div>
</header>
    
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for event in events %}
                {% if event.status == 'OPEN' %}
                    <div class="post-preview">
                        <a href="{{ url_for('info', eventId = event.event_id) }}">
                            <h2 class="post-title">
                                {{event.title}}
                            </h2>
                        </a>
                        <p class="post-meta">Post by {{ event.creater }} start at {{ event.start }} type: course</p>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for seminar in seminars %}
                {% if seminar.status == 'OPEN' %}
                    <div class="post-preview">
                        <a href="{{ url_for('seminarinfo', seminarId = seminar.seminar_id) }}">
                            <h2 class="post-title">
                                {{seminar.title}}
                            </h2>
                        </a>
                        <p class="post-meta">Post by {{ seminar.creater }} start at {{ seminar.start }} type: seminar</p>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}