{% extends 'dashboard.html' %}
{% block dash %}
<header class="masthead" style="background-image: url('{{ url_for('static',filename='unsw.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Current Event Page</h1>
                    <span class="subheading"></br>This is All Current Event That You Register</span>
                </div>
            </div>
        </div>
    </div>
</header>
    
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for event in regists %}
                {% if event.status == 'OPEN' %}
                    <div class="post-preview">
                        <a href="{{ url_for('user_info', eventId = event.event_id) }}">
                            <h2 class="post-title">
                                {{event.title}}
                            </h2>
                        </a>
                        <p class="post-meta">Post by {{ event.creater }} start at {{ event.start }}</p>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}