{% extends 'base.html' %}

{% block body %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename = 'asb-unsw-campus-15.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% with mess = get_flashed_messages() %}
                        {% if mess %}
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> {{mess}}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <h1>{{ event.title }}</h1>
                    <h3>Start date: {{ event.start }}</h2></br>
                    <h3>End date: {{ event.end }}</h2><br>
                    <h3>Starus: {{ event.status }}</h3><br>
                    <h3>Capacity: {{ event.capacity}}</h3><br>
                    <h3>Enrolled: {{event.events_all.count()}} </h3><br>
                    <div style="text-align: left">
                        {% if event.creater != current_user.name and event.status == 'OPEN'  %}
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                <a href="{{ url_for('register', eventId = event.event_id) }}"  style="text-align: left ; color: white ">Regist</a>
                            </button>
                        {% else %}
                            {% if event.status != 'CANCELED' and event.status != 'CLOSED' %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="{{ url_for('cancele', eventId = event.event_id) }}" style=" text-align: left ; color: white ">Cancele</a>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{event.details}} 
            </div>
        </div>
    </div>
</article>

{% endblock %}


