{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename = 'asb-unsw-campus-15.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ event.title }}</h1>

                    {% if event_in %}
                        <div class="alert alert-danger">
                            <strong>Warning</strong>{{message}}
                        </div>
                    {% endif %}
                    
                    {% if cance %}
                        <div class="alert alert-success">
                            <strong>Success! </strong>{{message}}
                        </div>
                    {% endif %}

                    {% if canerror %}
                        <div class="alert alert-danger">
                            <strong>Warning</strong>{{message}}
                        </div>
                    {% endif %}
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Start date</td>
                                <td>{{ event.start }}</td>
                            </tr>
                            <tr>
                                <td>End date</td>
                                <td>{{ event.end }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ event.status }}</td>
                            </tr>
                            <tr>
                                <td>Capacity</td>
                                <td>{{ event.capacity}}</td>
                            </tr>
                            <tr>
                                <td>Enrolled</td>
                                <td>{{event.events_all.count()}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div style="text-align: right">
                        {% if event.creater != current_user.name and event.status == 'OPEN'  %}
                            {% if current_user in event.users %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="{{ url_for('user_cancele', eventId = event.event_id) }}" style=" text-align: left ; color: white ">Cancele</a>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="{{ url_for('registercomfirme', eventId = event.event_id) }}"  style="text-align: left ; color: white ">Regist</a>
                                </button>
                            {% endif %}
                        {% else %}
                            {% if event.status != 'CANCELED' and event.status != 'CLOSED' %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="{{ url_for('cancele', eventId = event.event_id) }}" style=" text-align: left ; color: white ">Cancele</a>
                                </button>
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="{{ url_for('participant', eventId = event.event_id) }}" style=" text-align: left ; color: white ">Participant</a>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{event.details|safe}} 
            </div>
        </div>
    </div>
</article>

{% endblock %}


