{% extends 'base.html' %}
{% block body %}
    <header class="masthead" style="background-image: url('{{ url_for('static', filename = 'asb-unsw-campus-15.jpg')}}'); width: auto; height:500px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Post Event</h1>
                        <span class="subheading">Post event for students</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 sidenav">
                <ul class="nav navbar-nav" style="text-align: center">
                    <h4>Choose type</h4>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('post') }}">Course</a></li>
                    <li class="nav-item"><a class="nav-link" href=" {{ url_for('postSeminar') }} ">Seminar</a></li>
                </ul><br>
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="alert alert-info">
                    <strong style="position: relative">Info! </strong> Before you post, please make sure all required are fill.
                </div>
                {% if val_post %}
                    <div class="alert alert-danger">
                        <strong>Warning!</strong> {{post_info}}
                    </div>
                {% endif %}
                <form class="sentMessage"  method="POST">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Title</label>
                            <input type="text" class="form-control"  placeholder="Title" name="title" required data-validation-required-message="Please enter title">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Start</label>
                            <input type="date" class="form-control" placeholder="Start date: dd-mm-yyyy" name="start" required data-validation-required-message="Please enter start date">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>End</label>
                            <input type="date" class="form-control" placeholder="End date: dd-mm-yyyy" name="end" required data-validation-required-message="Please enter end date">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Fee</label>
                            <input type="number" class="form-control" placeholder="Registration fee" name="fee" required data-validation-required-message="Please enter capacity">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Capacity</label>
                            <input type="number" class="form-control" placeholder="Capacity" name="capacity" required data-validation-required-message="Please enter capacity">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Early period</label>
                            <input type="number" class="form-control" placeholder="Early period for registration" name="early_period" required data-validation-required-message="Please enter early period">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group ">
                            <label>Detail:</label>
                            <textarea rows="12" class="form-control" id="editor1" placeholder="Detail" name="detail" required data-validation-required-message="Please enter detail"></textarea>
                            <p class="help-block text-danger"></p>
                            <script>
                                CKEDITOR.replace('editor1');
                            </script>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primmary" id = "PostEvent">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}