{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename = 'asb-unsw-campus-15.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% with mess = get_flashed_messages() %}
                        {% if mess %}
                            <div class="alert alert-danger">
                                <strong>Warning!</strong> {{mess}}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <h1>{{ seminar.title }}</h1>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Start date</td>
                                <td>{{ seminar.start }}</td>
                            </tr>
                            <tr>
                                <td>End date</td>
                                <td>{{ seminar.end }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ seminar.status }}</td>
                            </tr>
                            <tr>
                                <td>Capacity</td>
                                <td>{{ seminar.capacity}}</td>
                            </tr>
                            <tr>
                                <td>Enrolled</td>
                                <td>{{seminar.seminars_all.count()}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div style="text-align: right">
                        {% if seminar.creater != current_user.name and seminar.status == 'OPEN'  %}
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                <a href="#"  style="text-align: left ; color: white ">Regist</a>
                            </button>
                        {% else %}
                            {% if seminar.status != 'CANCELED' and seminar.status != 'CLOSED' %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="#" style=" text-align: left ; color: white ">Cancele</a>
                                </button>
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href="#" style=" text-align: left ; color: white ">Participant</a>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{seminar.details|safe}} 
            </div>
        </div>
    </div>
</article>

{% endblock %}


