{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename = 'asb-unsw-campus-15.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">

                    {% if not_in %}
                        <div class="alert alert-danger">
                            <strong>Warning! </strong> {{message}}
                        </div>
                    {% endif %}

                    {% if succ %}
                        <div class="alert alert-success">
                            <strong>Success! </strong>{{message}}
                        </div>
                    {% endif %}

                    {% if regist %}
                        <div class="alert alert-danger">
                            <strong>Warning! </strong> {{message}}
                        </div>
                    {% endif %}
                    <h1>{{ sessions.title }}</h1>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>{{ sessions.status }}</td>
                            </tr>
                            <tr>
                                <td>Start date</td>
                                <td>{{ sessions.start }}</td>
                            </tr>
                            <tr>
                                <td>End date</td>
                                <td>{{ sessions.end }}</td>
                            </tr>
                            <tr>
                                <td>Capacity</td>
                                <td>{{ sessions.capacity}}</td>
                            </tr>
                            <tr>
                                <td>Enrolled</td>
                                <td>{{sessions.sessions_all.count()}}</td>
                            </tr>

                            <tr>
                                <td>Registration fee</td>
                                <td> {{sessions.fee}} </td>
                            </tr>
                            <tr>
                                <td>Speaker</td>
                                <td>{{ sessions.speaker }}</td>
                            </tr>

                            
                        </tbody>
                    </table>
                    <div style="text-align: right">
                        {% if sessions.creater != current_user.name and sessions.status == 'OPEN'  %}
                            {% if current_user in sessions.users %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href=" {{ url_for('cancelesession', sessionId = sessions.session_id) }} "  style="text-align: left ; color: white ">Cancele Session</a>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href=" {{ url_for('registsessioncomfirm', sessionId = sessions.session_id) }} "  style="text-align: left ; color: white ">Regist</a>
                                </button>
                            {% endif %}
                        {% else %}
                            {% if sessions.status != 'CANCELED' and sessions.status != 'CLOSED' %}
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href=" {{ url_for('Sessioncancele', sessionId = sessions.session_id ) }} " style=" text-align: left ; color: white ">Cancele</a>
                                </button>

                                <button type="submit" class="btn btn-primary" id="sendMessageButton">
                                    <a href=" {{ url_for('participant_session', sessionId = sessions.session_id ) }} " style=" text-align: left ; color: white ">Participant</a>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{sessions.details|safe}} 
            </div>
        </div>
    </div>
</article>

{% endblock %}


