{% extends 'base.html' %}
{% block body %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename = 'UNSW_0.png') }}'); width: auto; height:400px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Event Management System</h1>
                    <span class="subheading">Details about EMS</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                <p>&nbsp;</p>

                <table>
                        <tbody>
                                <tr>
                                        <td>
                                        <p>The aim of this group project is to enable students to consolidate their knowledge in the fundamentalprinciples of Software Engineering and apply the theoretical concepts to a &ldquo;hands-on&rdquo; software engineering&nbsp;problem. The project will enable students to:</p>
                
                                        <p>-&nbsp;Develop problem-solving skills to solve &lsquo;real-world&rsquo; software engineering problems; analyse the&nbsp;problem domain, design and develop a solution to the problem</p>
                
                                        <p>-&nbsp;Learn to work effectively as part of a team by managing your project, planning, and allocation of</p>
                                        </td>
                                </tr>
                                <tr>
                                        <td>
                                        <p>responsibilities among the members of your team</p>
                
                                        <ul>
                                                <li>
                                                <p>- &nbsp;Gain experience in collaborating through the use of a source control</p>
                                                </li>
                                                <li>
                                                <p>- &nbsp;Apply appropriate design practices and methodologies in the development of their solution</p>
                                                </li>
                                        </ul>
                                        </td>
                                </tr>
                        </tbody>
                </table>
                
                <p>Your consultancy firm has been called in to the School of Computer Science and Engineering for a new project. The staff and students at UNSW frequently hold courses and seminars. These events are attended by both staff and students at the university. Currently, the trainer of each event is responsible for advertising the event and handling registrations of trainees. The university is interested in making this process more efficient and would like to develop an online event management system (EMS) that streamlines the process of planning an event and registering attendees to the event. The university feels that such a system would help to market and increase the likelihood of attracting more attendees.</p>
                
                <p>The centralised event management system (EMS) should enable course convenors to post different kinds of events and also enable interested attendees to register online for these events. The system will also allow attendees registered for a particular event to de-register. The system will be accessible by all UNSW staff and students. Following an initial discussion with the client, your team has elicited the following preliminary requirements for the event management system.</p>
                
                <p>Preliminary Requirements from UNSW</p>
                
                <p>The events organised in the university can be grouped broadly into two categories namely courses and seminars. Each eventis scheduled at a particular venue and can run for a single day or over a period of days. Each event has a maximum attendee capacity. Each scheduled event has a de-register window period up and until which a registered attendee is allowed to de-register from the event, e.g., a&nbsp;course &lsquo;photo-shop&rsquo;&nbsp;can be cancelled up to 24 hours before the scheduled date&rsquo;.</p>
                
                <p>A course is delivered by a single presenter who will also post the event on the EMS. A seminar consists of multiple sessions and each session can be presented by a UNSW academic or a non-UNSW guest-speakere.g., &ldquo;7th&nbsp;Australasian Symposium on Big Data &amp; Analytics&rdquo; is a seminar which runs from 2nd&nbsp;of October, 2018 to 3rd&nbsp;of October, 2018 and consists&nbsp;of sessions such as &lsquo;Using Machine Learning to analyse financial data&rsquo;, &lsquo;Semantic ontologies for financial data analysis&rsquo;, &lsquo;Predictive Analytics&rsquo;.&nbsp;A seminar is posted on the</p>
                
                <p>EMS by a convenor, who may or may not be a speaker at one of the sessions. The system should provide different forms to handle the posting of the above two types of events.</p>
                
                <p><img alt="page2image2574930176" src="blob:http://127.0.0.1:5000/5bbb8639-1e81-4741-8fc1-f9ff830730e9" /></p>
                
                <p>The EMS is only accessible by members (staff and students) of UNSW. Users should be able to log into the system with their zID and password. Once a user has logged into the system, they should see the two categories of events and list of all the&nbsp;&lsquo;open&nbsp;events&rsquo;&nbsp;under each category. Clicking on a particular event should provide more details about the event. A user can select a particular event and register for this event. Once the user has successfully registered, a confirmation is displayed to the user. A registered user can cancel their registration up and until the de-registration windowspecified for that particular event.</p>
                
                <p>Only UNSW staff are allowed to post (i.e., convene) events. Both UNSW staff and student can register for any event provided the event capacity has not exceeded. However, a UNSW staff cannot register for an event for which they are the convenor. Both UNSW staff and students can register for an event. Every logged in user must also have a link to a dashboard. If the useris a student, then the dashboard should display all current and past events that they have registered for. If the user is a staff, then their dashboard will display (i) current and past events that they have registered for (ii) current and past events that they have posted (iii) any cancelled events. Additionally, when a convenor clicks on an event they have organised, they should be able to see a list of attendees for that event. An unauthenticated user cannot access the website.</p>
                
                <p><img alt="page2image2575088528" src="blob:http://127.0.0.1:5000/abcdab85-5cc1-42ed-8416-3aaeb00e63ee" /></p>
                
                <p>At any point in time, an event can be&nbsp;&lsquo;open&rsquo;, &lsquo;closed&rsquo; or &lsquo;cancelled&rsquo;. Any eventwhich is scheduled to run inthe future or currently running is said to be&nbsp;&lsquo;open&rsquo;.&nbsp;Once an event has been completed, the course convenor will change the status of the event to&nbsp;&lsquo;closed&rsquo;. If an event is cancelled before the scheduled-date, then&nbsp;it is said to be &lsquo;cancelled&rsquo;.</p>
                
                <p>The customer has also advised your team that they are still unsure of all their requirements, but these are their preliminary requirements. They would refine their requirements after seeing an initial version of the software system. Keeping this in mind, your consultancy firm has decided that this project will be delivered adopting an agile software development methodology to give the team flexibility to be able to adapt to the customer changes.</p>
        </div>
    </div>
</div>

{% endblock %}

