{% extends 'base.html' %}

{% block body %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename = 'asb-unsw-campus-15.jpg') }}')">
    </br>
    </br>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div class="alert alert-success">
                        <strong>Warning!</strong> Register successs
                        Weclome to EMS user.name
                    </div>
                    <a href="{{ url_for('index') }}">Click here to return</a>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</header>

{% endblock %}


